.container {
  margin: 0 auto;
  width: 80%;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: blueviolet;
}
.input {
  display: inline;
  
}
  .input>* {
  font-size: 15px;
  padding: 10px;
}
input {
  border-style: none;
  width: 80%;
  
}
button {
  background-color: rgb(213, 177, 247);
  border: 0;
  border-radius: 30%;
  margin: 5px;
  padding: 10px;
  color: blueviolet;
}
.list {
  display: inline;
}